.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:20px;text-decoration:none;color:#000000;letter-spacing:0em;}
.Heading_1 {font-family:'Open Sans';font-weight:600;font-style:normal;font-size:40px;text-decoration:none;color:#2FA4E7;letter-spacing:0em;}
.Heading_2 {font-size:30px;color:#000000;}
.Heading_3 {font-weight:bold;font-size:20px;color:#000000;}
